
body {
background-color: #191F56;
text-align: center;
width:100%;
height: 100%;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}






nav {
    top:0;
    z-index: 5000;
    position: fixed;
    background-color: #191F56;
    color: whitesmoke;
    width:100%;
    display:flex;
    flex-direction: row;
    border:#313DA8;
}
nav > h1 {
    font-size: 20px;
    margin-left: 10px;
}
nav > a {
    color:whitesmoke;
    text-decoration: none;
    margin-top: 1.4em;
    padding-left: 1em;
    margin-left: 10px;
    height:100%;
}
nav > a:hover {
    text-shadow: #313DA8;
}







.parallax {
    z-index: -1;
    min-height: 900px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('parallax.jpg');
    position: absolute;
}
#m2 {
    display:flex;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;

}
#grid {
width: 80%;
display:grid;
grid-template-columns:0.20fr 0.30fr 0.30fr 0.5fr 0.5fr 0.5fr 0.5fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
margin-bottom: 150px;
color:whitesmoke;
grid-template-areas:
'band band band charr charr song song'
'bae bae bae b1 b1 b2 b2'
'bae bae bae b1 b1 b2 b2'
'cats cats cats c1 c1 c2 c2'
'cats cats cats c1 c1 c2 c2'
'akyr akyr akyr a1 a1 a2 a2'
'akyr akyr akyr a1 a1 a2 a2'
'cozmez cozmez cozmez d1 d1 d2 d2'
'cozmez cozmez cozmez d1 d1 d2 d2';


}

#band{
    grid-area: band;
}
#char{
    grid-area:charr;
}
#song {
    grid-area:song;
}
#grid > div{
    border: solid #1C2162 5px;
    background-color: #1F256E;
    align-items: center;

}
#grid > .header {
    background-color: #333EB6;
    padding-top: 1em;
}
#grid > div > img{
    width: 100%;
    height: 100%;


}
#grid > div > a{
    color:inherit;
}
#grid > div > a::before{
    content: "• ";
}

#grid > div > p::before{
   content: "• "

}
#grid > div:hover{
    transform: scale(1.1);
    z-index: 5020; 
}
#headline {
    margin-top:900px;
    color:whitesmoke;
}

#r1 {
    grid-area: bae;
}

#r2 {
    grid-area: cats;
}
#r3{
    grid-area: akyr;
}
#r4{
    grid-area:cozmez;
}
#b1 {grid-area: b1;padding-top: 3.6em;}
#b2 {grid-area: b2;padding-top: 3em; text-decoration: none;}
#c1 {grid-area: c1;padding-top: 2.5em;}
#c2 {grid-area: c2;padding-top: 3em; text-decoration: none;}
#a1 {grid-area: a1;padding-top: 1.5em;}
#a2 {grid-area: a2;padding-top: 3em; text-decoration: none;}
#d1 {grid-area: d1;padding-top: 4em;}
#d2 {grid-area: d2;padding-top: 3em; text-decoration: none;}

@media (max-width:880px) {
    #m2 {
        justify-content: center;
    }
    #grid {
        width: 80%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px 0px;
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
        'bae bae'
        'b1 b1'
        'b2 b2'
        'cats cats'
        'c1 c1'
        'c2 c2'
        'akyr akyr'
        'a1 a1'
        'a2 a2'
        'cozmez cozmez'
        'd1 d1'
        'd2 d2'
        'charr song'
        'band band';
    }
    #grid > .header {
        background-color: none;
        padding-top: 1em;
        border: none;
        font-size: 0px;
    }
    #grid > div{

        background-color: #1F256E;
        align-items: center;
    
    }
}
